<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * di
 *
 * @copyright Copyright © 2020 Staempfli AG. All rights reserved.
 * @author    juan.alonso@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\SearchApi\Api\ProductRepositoryInterface" type="Magenest\SearchApi\Model\ProductRepository" />
    <preference for="Magenest\SearchApi\Api\Data\ProductInterface" type="Magenest\SearchApi\Model\Data\Product" />
</config>
