<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * module
 *
 * @copyright Copyright © 2020 Staempfli AG. All rights reserved.
 * @author    juan.alonso@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Tintuc_Thoitiet" setup_version="1.0.0">
    </module>
</config>
